:host {
  display: block;

  --disabled-dropdown-button-padding: calc(var(--size-spacing-0-5) - var(--size-border-width-small));
}

dss-floating::part(container) {
  --drop-shadow: var(--drop-shadow-far);
  padding: var(--size-spacing-0-5) 0;
}

.trigger-area {
  display: block;
  position: relative;
}

.trigger-area[aria-expanded="true"] {
  z-index: 2;
}

input[readonly]:not(:disabled) {
  cursor: pointer;
}
