:host {
  --vertical-padding: calc(var(--size-0-25) + var(--size-0-5));

  background-color: var(--color-universal-yellow-10);
  border-radius: calc((var(--typography-main-line-height) + (2 * var(--vertical-padding))) / 2);
  padding: var(--vertical-padding) var(--size-2);

  display: block;
  min-width: 0;
  max-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
