:host {
  display: flex;
  padding: var(--size-spacing-1) var(--size-spacing-2);
  gap: var(--size-spacing-1);

  align-items: center;
  cursor: pointer;
}

:host(:is(:hover,:focus-visible)) {
  background: var(--color-background-shade);
}

:host(:focus-visible) {
  outline-style: none;
}
