:host {
  display: block;
}

:host([block]) ::slotted(:is(input,textarea)) {
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

:host(:not([block])) .input-wrapper {
  width: max-content;
}

::slotted(dss-button) {
  position: absolute;
  right: var(--size-0-5);
}

.count {
  display: block;
  margin-top: var(--size-0-5);
  font-size: var(--typography-small-font-size);
  line-height: var(--typography-small-line-height);
  font-weight: var(--typography-small-font-weight);
}

.count--invalid {
  color: var(--color-universal-red-100);
}
