/**
 * ::slotted styles do not get any benefit in specificity so they get overridden by normalize/reset css styles setting
 * plain `input` styles. Therefore these styles are imported in the global.css using the lightDOM styling which has a
 * higher specificity than ::slotted.
 */

dss-input :is(input, textarea)::placeholder {
  color: var(--color-font-placeholder);
}

dss-input :is(input, textarea) {
  margin: 0;
  outline: none;
  border: var(--size-border-width-small) solid var(--color-action-secondary-50);
  border-radius: var(--size-border-radius-regular);
  padding: calc(var(--size-spacing-0-5) + var(--size-border-width-small)) var(--size-spacing-1);
  font-size: var(--size-font-medium);
  line-height: var(--size-line-height-medium);
}

dss-input:has(:is(input,textarea):required)::part(required) {
  display: inline;
}

dss-input:has(dss-button) :is(input,textarea):not(:disabled):hover,
dss-input:has(dss-button:hover) :is(input,textarea):not(:disabled) {
  border-color: var(--color-action-secondary-75);
}

dss-input:has(dss-button) input {
  padding-right: calc(var(--size-spacing-3) + var(--size-spacing-1));
}

dss-input[size="compact"] input {
  font-size: var(--size-font-small);
  line-height: var(--size-line-height-small);
}

dss-input :is(input,textarea):focus-visible {
  outline: var(--color-action-focus) solid 0.1rem;
  box-shadow: var(--shadow-glow-focus);
}

dss-input :is(input,textarea):disabled {
  border-color: var(--color-background-disabled-10);
  color: var(--color-font-primary);
  background: transparent;
  cursor: not-allowed;
}

dss-input[errorstate="error"] :is(input,textarea) {
  border-color: var(--color-action-error);
}

dss-input[errorstate="warning"] :is(input,textarea) {
  border-color: var(--color-action-warning);
}

dss-input input[type="date"]::-webkit-inner-spin-button,
dss-input input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

dss-input input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
