:host {
  display: block;
}

.tab-group {
  display: flex;
  margin-bottom: calc(var(--size-px) * -1);
}

.dropdown-button {
  flex: none;
  margin-right: var(--size-0-5);
  margin-left: var(--size-0-5);
  padding-top: var(--size-0-25);
}

.show-more-block {
  flex: none;
  padding-left: var(--size-0-5);
  display: flex;
  align-items: center;
}
