:host {
  --toggle-button-size: calc(var(--size-3) - var(--size-0-25));
  --border-radius: 10rem;
  --transition-duration: .15s;
  --animation-width: var(--size-1);
  --transition-timing-function: ease-in;

  display: inline-flex;
}

input {
  appearance: none;
  border: var(--size-px) solid transparent;
  margin: 0;
  padding: 0;
  position: relative;
  height: var(--size-3);
  width: calc(var(--size-5) + var(--size-0-5));
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

input:not(:disabled):focus-visible {
  outline: none;
  border: var(--size-px) solid var(--color-brand-interaction-100);
  box-shadow: var(--effect-glow-focus);
}

input:disabled {
  cursor: not-allowed;
}

input:checked {
  background-color: var(--color-universal-green-100);
}

input:checked:disabled {
  background-color: var(--color-universal-green-50);
}

input:checked::before {
  left: calc(100% - var(--toggle-button-size));
}

input:not(:checked) {
  background-color: var(--color-universal-yellow-10);
}

input:not(:checked):disabled {
  background-color: var(--color-universal-grey-10);
}

input:not(:checked)::before {
  left: 0;
}

input::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  background-color: var(--color-brand-white-100);
  border-radius: var(--border-radius);
  height: var(--toggle-button-size);
  width: var(--toggle-button-size);
  box-shadow: var(--effect-shadow-close);
  transition-property: left, width;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

input:checked:active::before {
  left: calc(100% - var(--toggle-button-size) - var(--animation-width));
  width: calc(var(--toggle-button-size) + var(--animation-width));
}

input:not(:checked):active::before {
  width: calc(var(--toggle-button-size) + var(--animation-width));
}
