div {
  padding-left: var(--size-0-5);
  padding-right: var(--size-0-5);

  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(315deg);
  }
}

svg {
  vertical-align: text-bottom;
  animation: spin 2s cubic-bezier(0.17, 0.73, 0.39, 1.25) infinite;
}

circle.primary {
  stroke: var(--color-brand-brand-50);
}

path.primary {
  stroke: var(--color-brand-brand-100);
}

circle.secondary {
  stroke: var(--color-brand-interaction-25);
}

path.secondary {
  stroke: var(--color-brand-interaction-100);
}

circle.ghost {
  stroke: var(--color-brand-white-100);
}

path.ghost {
  stroke: var(--color-universal-grey-75);
}
