@import "modern-css-reset";
@import "../../components/input/input.lightDOM.css";

h1 {
  font-size: var(--typography-h1-font-size);
  line-height: var(--typography-h1-line-height);
  font-weight: var(--typography-main-font-weight);
}

h2 {
  font-size: var(--typography-h2-font-size);
  line-height: var(--typography-h2-line-height);
  font-weight: var(--typography-h2-font-weight);
}

h3 {
  font-size: var(--typography-h3-font-size);
  line-height: var(--typography-h3-line-height);
  font-weight: var(--typography-main-font-weight);
}

h4 {
  font-size: var(--typography-main-font-size);
  line-height: var(--typography-main-line-height);
  font-weight: var(--typography-h4-font-weight);
}

small {
  font-size: var(--typography-small-font-size);
  line-height: var(--typography-small-line-height);
  font-weight: var(--typography-small-font-weight);
}

a {
  text-decoration: none;
  color: var(--color-brand-interaction-100);
  font-weight: var(--typography-h4-font-weight);
  font-size: var(--typography-main-font-size);
  display: inline-flex;
  gap: var(--size-1);
}

a:hover {
  background-color: var(--color-brand-interaction-25);
  border-radius: var(--radius-4);
}
