:host {
  --color-background: var(--color-background-primary);
  --drop-shadow: var(--drop-shadow-close);

  position: relative;
  display: inline-block;
}

.floating {
  min-width: 100%;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  padding: var(--size-spacing-1) var(--size-spacing-3);
  border-radius: var(--size-border-radius-regular);
  z-index: 1;
  filter: drop-shadow(var(--drop-shadow));
  visibility: hidden;
  opacity: 0;
}

.floating[data-show] {
  display: block;
  opacity: 1;
  visibility: visible;
}

.arrow {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: var(--size-spacing-2);
  height: var(--size-spacing-2);
  background-color: var(--color-background);
  transform: rotate(45deg);
}
