:host {
  --color-background: var(--color-background-primary);
  --drop-shadow: var(--drop-shadow-close);

  position: relative;
  display: inline-block;
}

.floating {
  min-width: 100%;
  background-color: var(--color-background);
  padding: var(--size-spacing-0-5) var(--size-spacing-3);
  border-radius: var(--size-border-radius-regular);
  z-index: 1;
  filter: drop-shadow(var(--drop-shadow));
  visibility: hidden;
  opacity: 0;
}

.floating[data-show] {
  display: block;
  opacity: 1;
  visibility: visible;
}

.arrow, .arrow::before {
  position: absolute;
}

.arrow::before {
  content: '';
  width: 0;
  height: 0;
}

.floating[data-popper-placement^='top'] .arrow {
  bottom: 0;
}

.floating[data-popper-placement^='top'] .arrow::before {
  left: -11px;
  border-top: 12px solid var(--color-background);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.floating[data-popper-placement^='right'] .arrow {
  left: -12px;
}

.floating[data-popper-placement^='right'] .arrow::before {
  top: -11px;
  border-right: 12px solid var(--color-background);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.floating[data-popper-placement^='bottom'] .arrow {
  top: -12px;
}

.floating[data-popper-placement^='bottom'] .arrow::before {
  left: -11px;
  border-bottom: 12px solid var(--color-background);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.floating[data-popper-placement^='left'] .arrow {
  right: 0;
}

.floating[data-popper-placement^='left'] .arrow::before {
  top: -11px;
  border-left: 12px solid var(--color-background);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}
