@import "./design-tokens.css";
@import "../internals/baseElement/global.css";

html {
  font-size: 62.5% !important;
  color: var(--color-font-primary) !important;
}

body {
  font-size: var(--size-font-medium) !important;
  font-weight: var(--font-weight-regular) !important;
  line-height: var(--size-line-height-medium) !important;
}
