@import "./design-tokens.css";
@import "../internals/baseElement/global.css";

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: url("inter-ui/Inter (web)/Inter.var.woff2?v=3.19") format("woff2-variations");
}

html {
  font-family: var(--font-family-base), sans-serif !important;
  font-size: 62.5% !important;
  color: var(--color-font-primary) !important;
}

body {
  font-size: var(--size-font-medium) !important;
  font-weight: var(--font-weight-regular) !important;
  line-height: var(--size-line-height-medium) !important;
}
